<div class="col-md-2"></div>			
<div class="row col-md-8" id="navbar">
	<div class="col-3">&nbsp;</div>
	<div class="col-9">
		<nav class="navbar navbar-expand-md navbar-right" role="navigation">
			<ul class="navbar-nav">
				<li class="nav-item">
					<%= link_to "Home", "/" , class: 'nav-link' %> <!--<span class="sr-only">(current)</span>-->
				</li>
				<li class="nav-item">
					<%= link_to "Latest", "/latest", class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to "Browse", "/browse", class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<div class="nav-link"
						<%= link_to "Random", "/random" %> <%= link_to ">0", "/random1" %>
					</div>
				</li>
				<li class="nav-item">
					<%= link_to "Top", "/top", class: 'nav-link'  %>
				</li>
				<li class="nav-item">
					<%= link_to "Add Quote", "/quotes/new", class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to "Search", "/search", class: 'nav-link' %>
				</li>
				<li class="nav-item">
					#
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="col-md-2"></div>