<strong><%= link_to "##{quote.id}", quote %></strong>
<a href="/quotes/<%= quote.id %>/upvote">+</a>(<%= quote.score %>)<a href="/quotes/<%= quote.id %>/downvote">-</a>
[X]
<%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
<br />
<pre class="quote_output"><%= quote.text %></pre>
