<!DOCTYPE html>
<html>
	<head>
		<title>RQDB</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="container">
			<div class="row col-md-8" id="title">
				<h1>RQDB</h1>
			</div>
			<div class="row col-md-8 navbar-right" id="navbar">
				<nav class="navbar navbar-expand-md navbar-right" role="navigation">
					<ul class="navbar-nav navbar-right">
						<li class="nav-item">
							<%= link_to "Home", "/" , class: 'nav-link' %> <!--<span class="sr-only">(current)</span>-->
						</li>
						<li class="nav-item">
							<%= link_to "Latest", "/latest", class: 'nav-link' %>
						</li>
						<li class="nav-item">
							<%= link_to "Browse", "/browse", class: 'nav-link' %>
						</li>
						<li class="nav-item">
							<div class="nav-link"
								<%= link_to "Random", "/random" %> <%= link_to ">0", "/random1" %>
							</div>
						</li>
						<li class="nav-item">
							<%= link_to "Top", "/top", class: 'nav-link'  %>
						</li>
						<li class="nav-item">
							<%= link_to "Add Quote", "/quotes/new", class: 'nav-link' %>
						</li>
						<li class="nav-item">
							<%= link_to "Search", "/search", class: 'nav-link' %>
						</li>
						<li class="nav-item">
							#
						</li>
					</ul>
				</nav>
			</div>
			<div class="container">
				<div class="col-6 quotes">
					<br />
					<%= yield %>
				</div>
				<div class="col-3">&nbsp;</div>
			</div>
		</div>    
	</body>
</html>
