<!DOCTYPE html>
<html>
  <head>
    <title>RQDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark navbar-custom" role="navigation">
        <div class="row">
          <div class="navbar-brand col-4">
            <a class="navbar-brand" href="#">RQDB</a>
          </div>
          <div class="navbar-brand col-8">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-4">&nbsp;</div>          
          <div class="navbar col-8">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to "Home", "/" , class: 'nav-link' %> <span class="sr-only">(current)</span>
              </li>
              <li class="nav-item">
                <%= link_to "Latest", "/latest", class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Browse", "/browse", class: 'nav-link' %>     
              </li>
              <li class="nav-item">
                <%= link_to "Random", "/random", class: 'nav-link' %> <%= link_to ">0", "/random1", class: 'nav-link' %>           
              </li>
              <li class="nav-item">
                <%= link_to "Top", "/top", class: 'nav-link'  %>          
              </li>
              <li class="nav-item">
                <%= link_to "Add Quote", "/quotes/new", class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Search", "/search", class: 'nav-link' %>            
              </li>
              <li class="nav-item">
                #
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main role="main" class="inner">
        <div class="col-3">&nbsp; test</div>
        <div class="col-6 inner">        
          <%= yield %>
        </div>
        <div class="col-3">&nbsp;</div>
      </main>
    </div>    
>>>>>>> Stashed changes
  </body>
</html>
