<!DOCTYPE html>
<html>
  <head>
    <title>RQDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <h1>QDB</h1>
      </div>
      <div id="navbar navbar-nav">
        <%= link_to "Home", "/" %> /
        <%= link_to "Latest", "/latest" %> /
        <%= link_to "Browse", "/browse" %> /
        <%= link_to "Random", "/random" %> <%= link_to ">0", "/random" %> / 
        <%= link_to "Top", "/top", :class => "navbar-brand" %> / 
        <%= link_to "Add Quote", "/quotes/new" %> /
        <%= link_to "Search", "/search" %>
        # 
    <%= yield %>
  </body>
</html>
